<div class="card-columns m-5 animated fadeIn faster ">
    <div  *ngFor="let item of items; let i = index;" class="card cardContainer  " >
        <img  [routerLink]="['/movie', item.id]" *ngIf="item.img" [src]="item.img | noimage" class="card-img-top puntero " alt="...">
        <div>

        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{item.name}}
            </h5>
            <p class="card-text">
                <span class="badge badge-pill badge-primary">{{item.genre}}</span>
            </p>
        </div>
        <div class="cardButtons w-100 ">
            <div class="btn-left w-50 puntero " [routerLink]="['/movie', item.id]">
                    <i class="fa fa-pen"></i>
            </div>
            <div (click)="deleteMovie(item, i)" class="btn-right  w-50 puntero ">
                <i class="fa fa-trash"></i>
            </div>
        </div>
    </div>
</div>

