<div class="card-columns m-5 animated fadeIn faster ">
    <div  *ngFor="let item of items; let i = index;" class="card ">
        <img  [routerLink]="['/movie', item.id]" *ngIf="item.img" [src]="item.img | noimage" class="card-img-top puntero" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                {{item.name}}
            </h5>
            <p class="card-text">
                <span class="badge badge-pill badge-primary">{{item.genre}}</span>
            </p>
            <button class="btn btn-info mr-1" [routerLink]="['/movie', item.id]">
                    <i class="fa fa-pen"></i>
                </button>
                <button (click)="deleteMovie(item, i)" class="btn btn-danger mr-1">
                    <i class="fa fa-trash"></i>
                </button>
        </div>
    </div>